<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    {% block header %}

    {% endblock %}
    {% block navi %}
    <script>
      function redirect(){
        location.href='{{ url_for('list') }}';
      }
    </script>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=""> Welcome, {% block user %}  every body {% endblock %} </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('create')}}"><span class="glyphicon glyphicon-book"></span> Create </a></li>

                <li><a href="{{ url_for('delete')}}"><span class="glyphicon glyphicon-trash"></span> Delete </a></li>

                <li><a href="{{ url_for('upload')}}"><span class="glyphicon glyphicon-floppy-open"></span> Upload </a></li>

                <li><a href="{{ url_for('list')}}"><span class="glyphicon glyphicon-list"></span> List </a></li>

                <li><a href="{{ url_for('list')}}"><span class="glyphicon glyphicon-refresh"></span> Refresh </a></li>
            </ul>
        </div>
    </nav>

    {% endblock %}
    <div class="container">

            {% block body %}

            {% endblock %}

    </div>

</body>

</html>