{% extends "admin/os/index.html" %}

    {% block header %}
        <li><a href="{{ url_for('os.create')}}"><span class="glyphicon glyphicon-wrench"></span> OS Create</a></li>
    {% endblock %}

    {% block body %}

    <script>
      function redirect(){
        location.href='{{ url_for('os.list') }}';
      }
    </script>



    <form method="post" class="form-horizontal" role="form" name="create" onsubmit="return validateForm()">

        <div class="form-group">
            <label for="Name" class="col-sm-3 control-label"> OS Name: </label>
            <div class=" col-sm-4">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Operating System Name">
            </div>
        </div>

        <div class="form-group">
            <label for="Version" class="col-sm-3 control-label"> OS Version: </label>
            <div class=" col-sm-4">
                <input type="text" class="form-control" id="Version" name="Version" placeholder="Operating System Version">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-2">
                <input type="button" class="form-control" value="Cancel" onclick="redirect()">
            </div>
            <div class="col-sm-2">
                <input type="submit" class="form-control" value="Create">
            </div>
        </div>

    </form>

    {% if error %}<div class="col-sm-offset-4">{{ error }}</div>{% endif %}
<script>

  function validateForm() {
    var x = document.forms["create"] ["Name"].value;
    if (!x || x.search(/[\s]/g)>-1) {
        alert("enter Platform Name");
        return false;
    }

  }
</script>

{% endblock %}
