{% extends "admin/os/index.html" %}

    {% block header %}
        <li><a href="{{ url_for('os.list')}}"><span class="glyphicon glyphicon-list"></span> OS List</a></li>
    {% endblock %}

    {% block body %}


    <table class="table table-bordered">
        <thead>
            <tr>
                <th> OS Type</th>
                <th> OS Version</th>
            </tr>
        </thead>

        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.os_type}}</td>
                <td>{{ message.os_version }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}