{% extends "admin/application/index.html" %}
    {% block header %}

        <li><a href="{{ url_for('application.delete')}}">
            <span class="glyphicon glyphicon-trash"></span> Application Delete</a></li>
    {% endblock %}

    {% block body %}

    <script>
      function redirect(){
        location.href='{{ url_for('application.list') }}';
      }
    </script>



    <form method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Delete</th>
                    <th> Application Name</th>
                    <th> Application group</th>
                </tr>
            </thead>

            <tbody>
            {% for message in messages %}
                <tr>
                    <td><input type="checkbox"  name="app_id" value="{{message.app_id}}"></td>
                    <td>{{ message.app_name}}</td>
                    <td>{{ message.app_group }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

			<div class="row clearfix">
                <div class="col-sm-offset-5 col-sm-2 column">
                    <input type="button" value="Cancel" onclick="redirect()">
                </div>
                <div class="col-sm-2 column">
                    <input type="submit" value="Delete">
                </div>
            </div>
    </form>
    {% if error %}<div class="col-sm-offset-5">{{ error }}</div>{% endif %}
    {% endblock %}