{% extends "admin/application/index.html" %}

    {% block header %}
        <li><a href="{{ url_for('application.list')}}">
            <span class="glyphicon glyphicon-hdd"></span> Application List</a></li>

    {% endblock %}

    {% block body %}


    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Application Name</th>
                <th> Application Version</th>
            </tr>
        </thead>

        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.Name}}</td>
                <td>{{ message.Version }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}