{% extends "admin/platform/index.html" %}
    {% block header %}

    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-trash"></span> Platform Delete
        </h1>
    </div>
    {% endblock %}

    {% block inbody %}

    <script>
      function redirect(){
        location.href='{{ url_for('platform.list') }}';
      }
    </script>



    <form method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Delete</th>
                    <th> Platform</th>
                </tr>
            </thead>

            <tbody>
            {% for message in messages %}
                <tr>
                    <td><input type="checkbox"  name="pf_id" value="{{message.pf_id}}"></td>
                    <td>{{ message.pf_name}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container">
            <div class="row">
                <div class="com-sm-12">
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-2">
                            <input type="button" value="Cancel" onclick="redirect()">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" value="Delete">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if error %}<div class="col-sm-offset-5">{{ error }}</div>{% endif %}
    {% endblock %}