{% extends "admin/platform/index.html" %}
    {% block header %}
        <li><a href="{{ url_for('platform.delete')}}"><span class="glyphicon glyphicon-trash"></span> Platform Delete</a></li>
    {% endblock %}

    {% block body %}

    <script>
      function redirect(){
        location.href='{{ url_for('platform.list') }}';
      }
    </script>



    <form method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Delete</th>
                    <th> Platform</th>
                </tr>
            </thead>

            <tbody>
            {% for message in messages %}
                <tr>
                    <td><input type="checkbox"  name="pf_id" value="{{message.pf_id}}"></td>
                    <td>{{ message.pf_name}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row clearfix">
            <div class="col-sm-offset-4 col-sm-2 column">
                <input type="button" value="Cancel" onclick="redirect()">
            </div>
            <div class="col-sm-2 column">
                <input type="submit" value="Delete">
            </div>
        </div>

    </form>
    {% if error %}<div class="col-sm-offset-5">{{ error }}</div>{% endif %}
    {% endblock %}