{% extends "admin/index_admin.html" %}


    {% block menu %}

        <li><a href="{{ url_for('platform.create')}}"><span class="glyphicon glyphicon-wrench"></span> Platform Create</a></li>

        <li><a href="{{ url_for('platform.delete')}}"><span class="glyphicon glyphicon-trash"></span> Platform Delete</a></li>

        <li><a href="{{ url_for('platform.list')}}"><span class="glyphicon glyphicon-list"></span> Platform List</a></li>

{#
        <li><a href="{{ url_for('platform.update')}}"><span class="glyphicon glyphicon-floppy-open"></span> Platform Update </a></li>
#}
    {% endblock %}
