{% extends "admin/platform/index.html" %}

    {% block header %}
        <li><a href="{{ url_for('platform.list')}}"><span class="glyphicon glyphicon-list"></span> Platform List</a></li>
    {% endblock %}

    {% block body %}


    <table class="table table-bordered">
        <thead>
            <tr>
                <th> PlatformName</th>
                <th> PlatformVersion</th>
            </tr>
        </thead>

        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.Name}}</td>
                <td>{{ message.Version}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}