{% extends "admin/platform/index.html" %}
    {% block header %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-floppy-open"></span> Platform Update
        </h1>
    </div>
    {% endblock %}

    {% block inbody %}

    <script>
      function redirect(){
        location.href='{{ url_for('platform.list') }}';
      }
    </script>



    <form method="post" name="create" onsubmit="return validateForm()">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Platform</th>
                </tr>
            </thead>

            <tbody>
            {% for message in messages %}
                <tr>
                    <td><input type="text"  name="{{ message.pf_name}}" value="{{ message.pf_name}}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container">
            <div class="row">
                <div class="com-sm-12">
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-2">
                            <input type="button" value="Cancel" onclick="redirect()">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" value="Update">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

<script>
  function validateForm() {
    {% for m in messages %}
    var x = document.forms["create"] ["{{ m.pf_name }}"].value;
    var blank_pattern = /[\s]/g;
    if (!x || x.search(/[\s]/g)>-1) {
        alert("can not empty");
        return false;
    }
    {% endfor %}
  }
</script>
    {% if error %}<div class="col-sm-offset-5">{{ error }}</div>{% endif %}


    {% endblock %}