{% extends "admin/image/index.html" %}
    {% block header %}
        <li><a href="{{ url_for('image.create')}}"><span class="glyphicon glyphicon-wrench"></span> Image Create</a></li>
    {% endblock %}

{% block body %}
<script>

  function clickReset() {
    {% for oo in os %}

        document.forms["create"] ["os-{{oo[0].Name}}"].disabled = true;

    {% endfor %}

    {% for li in library %}

        document.forms["create"] ["lib-{{li[0].Name}}"].disabled = true;

    {% endfor %}

    {% for p in platform %}

        document.forms["create"] ["pf-{{p[0].Name}}"].disabled = true;

    {% endfor %}

  }

</script>

<script>

  function validateForm() {


    var img_name = document.forms["create"] ["ImageName"].value;
    if (!img_name || img_name.search(/[\s]/g)>-1) {
        alert("insert image name");
        return false;
    }

    var os_value = "";
    {% for o in os %}
        var value = document.forms["create"] ["os"].value;
        if (!value) {
            alert("choose operation system");
            return false;
        }
        if (value == "{{ o[0].Name }}"){
            os_value = document.forms["create"] ["os-{{ o[0].Name }}"].value;
        }
    {% endfor %}

    var public = document.forms["create"] ["Public"].value;

    if (!public) {
        alert("choose publication");
        return false;
    }

    var liked = document.forms["create"] ["Liked"].value;

    if (!liked) {
        alert("choose likeness");
        return false;
    }


    var pf_value = "";
    {% for p in platform %}
        var value = document.forms["create"] ["pf"].value;
        if (!value) {
            if (value == "{{ p[0].Name }}"){
                pf_value = value + document.forms["create"] ["pf-{{ p[0].Name }}"].value;
            }
        }
    {% endfor %}



    var lib_value = "";
    {% for l in library %}
        var value = document.forms["create"] ["lib"].value;
        if (!value) {
            if (value == "{{ l[0].Name }}"){
                lib_value = value + document.forms["create"] ["lib-{{ l[0].Name }}"].value;
            }
        }

    {% endfor %}

    var app_value = "";
    {% for a in application %}
        var value = document.forms["create"] ["application"].value;
        if (!value){
            app_value += value + document.forms["create"] ["app-{{ a[0].app_group }}"].value;
        }
    {% endfor %}



    var cf = confirm("container platform is: " + img_type + "\n"
                + "operation system is: " + os_value + "\n"
                + "library is: " + lib_value + "\n"
                + "image name is: " + img_name );
    if (cf) {
        return true;
    }
    else {
        return false;
    }
  }


</script>
<form method="post" class="form-horizontal" role="form" name="create" onsubmit="return validateForm()">

    <div class="form-group">
        <label for="ImageName" class="col-sm-3 control-label"> Image Name: </label>
        <div class=" col-sm-4">
            <input type="text" class="form-control" id="ImageName" name="ImageName" placeholder="image name">
        </div>
    </div>

    <div class="form-group">
        <label for="Description" class="col-sm-3 control-label"> Description: </label>
        <div class=" col-sm-4">
            <input type="text" class="form-control" id="Description" name="Description" placeholder="Description">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"> Choose Operating System: </label>

        {% for oo in os %}
        {% if os.index(oo)%3 == 0 and os.index(oo) != 0 %}

        <div class="col-sm-offset-3 col-sm-3"></div>

            {% else %}

        <div class="col-sm-3">

            {% endif %}
            <label class="inline control-label">
                <input type="radio"  name="os" value="{{ oo[0].Name }}" onclick="clickRadio(name, value)">
            </label>
            {#
            <label class="inline control-label">
                {{ oo[0].Name  }}
            </label>
            #}
            <label class="inline control-label">
                <select class="form-control" name="os-{{ oo[0].Name  }}" disabled>
                    {% for o in oo %}
                    <option>{{ o.Name+o.Version }}</option>
                    {% endfor %}
                </select>
            </label>

        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"> Choose Container Platform: </label>
        {% for p in platform %}
        {% if platform.index(p)%3 == 0 and platform.index(p) != 0 %}

        <div class="col-sm-offset-3 col-sm-3"></div>

            {% else %}

        <div class="col-sm-3">

            {% endif %}
            <label class="inline control-label">
                <input type="radio"  name="pf" value="{{ p[0].Name  }}" onclick="clickRadio(name, value)">
            </label>
            {#
            <label class="inline control-label">
                {{ p[0].Name  }}
            </label>
            #}
            <label class="inline control-label">
                <select class="form-control" name="pf-{{ p[0].Name  }}" disabled>
                    {% for l in p %}
                    <option>{{ l.Name+l.Version }}</option>
                    {% endfor %}
                    <option>None</option>
                </select>
            </label>

        </div>
        {% endfor %}
    </div>


    <div class="form-group">
        <label class="col-sm-3 control-label"> Parellel Library: </label>
        {% for li in library %}
        {% if library.index(li)%3 == 0 and library.index(li) != 0 %}

        <div class="col-sm-offset-3 col-sm-3"></div>

            {% else %}

        <div class="col-sm-3">

            {% endif %}
            <label class="inline control-label">
                <input type="radio"  name="lib" value="{{ li[0].Name  }}" onclick="clickRadio(name, value)">
            </label>
            {#
            <label class="inline control-label">
                {{ li[0].Name  }}
            </label>
            #}
            <label class="inline control-label">
                <select class="form-control" name="lib-{{ li[0].Name  }}" disabled>
                    {% for l in li %}
                    <option>{{ l.Name+l.Version }}</option>
                    {% endfor %}
                    <option>None</option>
                </select>
            </label>

        </div>
        {% endfor %}
    </div>



    <div class="form-group">
        <label class="col-sm-3 control-label"> Other Application: </label>
        {% for ap in application %}
        {% if application.index(ap)%3 == 0 and application.index(ap) != 0 %}

        <div class="col-sm-offset-3 col-sm-3"></div>

            {% else %}

        <div class="col-sm-3">

            {% endif %}
            <label class="inline control-label">
                <input type="checkbox"  name="application" value="{{ ap[0].Name  }}" >
            </label>
            {#
            <label class="inline control-label">
                {{ ap[0].Name  }}
            </label>
            #}
            <label class="inline control-label">
                <select class="form-control" name="app-{{ ap[0].Name  }}" >
                    {% for a in ap %}
                    <option>{{ a.Name+a.Version }}</option>
                    {% endfor %}
                    <option>None</option>
                </select>
            </label>

        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"> Choose Publication: </label>

        <div class="col-sm-offset-3">
            <div class="col-sm-3">

                <label class="control-label inline">
                    <input type="radio"  name="Public" value="True" > Yes
                </label>

            </div>
            <div class="col-sm-3">

                <label class="control-label inline">
                    <input type="radio"  name="Public" value="False" > No
                </label>

            </div>

        </div>
    </div>
{#
    <div class="form-group">
        <label class="col-sm-3 control-label"> Likness: </label>

        <div class="col-sm-offset-3">
            <div class="col-sm-3">

                <label class="control-label inline">
                    <input type="radio"  name="Liked" value="True" > Yes
                </label>

            </div>
            <div class="col-sm-3">

                <label class="control-label inline">
                    <input type="radio"  name="Liked" value="False" > No
                </label>

            </div>

        </div>
    </div>
#}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <input type="reset" class="form-control" value="Reset" onclick="clickReset()">
        </div>
        <div class="col-sm-4">
            <input type="submit" class="form-control" value="Submit">
        </div>
    </div>

</form>
    {% if error %}<div class="col-sm-offset-4">{% for e in error %} {{ e }} {% endfor %}</div>{% endif %}
 {% if qq %}<div class="col-sm-offset-4">{% for e in qq %} {{ e }} {% endfor %}</div>{% endif %}
<script>

  function clickRadio(name, value) {
    {% for oo in os %}
    if(name == 'os') {
        if (value == "{{oo[0].Name}}") {
            document.forms["create"] ["os-{{oo[0].Name}}"].disabled = false;
        } else {
            document.forms["create"] ["os-{{oo[0].Name}}"].disabled = true;
        }
    }
    {% endfor %}

    {% for li in library %}
    if(name == 'lib') {
        if (value == "{{li[0].Name}}") {
            document.forms["create"] ["lib-{{li[0].Name}}"].disabled = false;
        } else {
            document.forms["create"] ["lib-{{li[0].Name}}"].disabled = true;
        }
    }
    {% endfor %}

    {% for p in platform %}
    if(name == 'pf') {
        if (value == "{{p[0].Name}}") {
            document.forms["create"] ["pf-{{p[0].Name}}"].disabled = false;
        } else {
            document.forms["create"] ["pf-{{p[0].Name}}"].disabled = true;
        }
    }
    {% endfor %}

  }

</script>

{% endblock %}
