{% extends "admin/image/index.html" %}
    {% block header %}
        <li><a href="{{ url_for('image.delete')}}"><span class="glyphicon glyphicon-trash"></span> Image Delete</a></li>
    {% endblock %}

{% block body %}

    <script>
      function redirect(){
        location.href='{{ url_for('image.list') }}';
      }
    </script>

<form method="post">
<table class="table table-bordered">
    <thead>
        <tr>
            <th> Delete</th>
            <th> ID</th>
            <th> Name</th>
            <th> Type</th>
            <th> State</th>
            <th> Size</th>
            <th> Upadate Date</th>
            <th> Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <td><input type="checkbox"  name="img_id" value="{{message.img_id}}"></td>
            <td>{{ message.img_id }}</td>
            <td>{{ message.img_name }}</td>
            <td>{{ message.img_type }}</td>
            <td>{{ message.img_state }}</td>
            <td>{{ message.img_size }}</td>
            <td>{{ message.img_time }}</td>
            <td>{{ message.usr_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        <div class="row clearfix">
            <div class="col-sm-offset-4 col-sm-2 column">
                <input type="button" value="Cancel" onclick="redirect()">
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Delete">
            </div>
        </div>

</form>
{% endblock %}