{% extends "layout.html" %}
    {% block header %}

        <span class="glyphicon glyphicon-log-in"></span> Login Page

    {% endblock %}

{% block body %}
<script>

  function validateForm() {
    var x = document.forms["login"] ["account"].value;
    if (!x || x.search(/[\s]/g)>-1) {
        alert("insert account")
        return false;
    }
    x = document.forms["login"] ["pwd"].value;
    if (!x || x.search(/[\s]/g)>-1) {
        alert("insert password")
        return false;
    }

    x = document.forms["login"] ["otp"].value;
    if (!x || x.search(/[\s]/g)>-1) {
        alert("insert otp")
        return false;
    }

  }

</script>
<form method="post" class="form-horizontal col-sm-offset-3" role="form" name="login" onsubmit="return validateForm()">
    <div class="form-group">
        <label for="account" class="col-sm-2 control-label"> Account: </label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="account" name="account" placeholder="please enter account">
        </div>
    </div>

    <div class="form-group">
        <label for="pwd" class="col-sm-2 control-label"> Password: </label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="please enter password">
        </div>
    </div>


    <div class="form-group">
        <label for="otp" class="col-sm-2 control-label"> OTP: </label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="otp" name="otp" placeholder="please enter otp">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <input type="reset" class="form-control" value="cancel">
        </div>
        <div class="col-sm-2">
            <input type="submit" class="form-control" value="log in">
        </div>
    </div>

</form>
{% if error %} {{ error }} {% endif %}

{% endblock %}
