{% extends "base.html" %}
    {% block header %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-log-in"></span> Login Page
        </h1>

    </div>
    {% endblock %}
{% block body %}
{% if error %}<div>Error:{{ error }}</div>{% endif %}

<form method="post" class="form-horizontal container" role="form">
    <div class="form-group">
        <label class="col-sm-3"> Choose Container Platform: </label>
        <div class="col-sm-2">
            <div class="checkbox">
                <label>
                    <input type="radio"  name="type" value="docker"> docker
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox">
                <label>
                    <input type="radio"  name="type" value="singularity"> singularity
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3"> Choose Operation System: </label>
        <div class="col-sm-3">
            <label class="checkbox-inline" class="form-control">
                <input type="radio"  name="oss" value="centos">
            </label>
            <label class="checkbox-inline" class="form-control">
                <select name="os" >
                    <option> </option>
                    <option>centos7</option>
                    <option>centos6</option>
                    <option>centos5</option>
                </select>
            </label>
        </div>
        <div class="col-sm-3" >
            <label class="checkbox-inline" class="form-control">
                <input type="radio"  name="oss" value="ubuntu">
            </label>
            <label class="checkbox-inline" class="form-control">
                <select name="os" >
                    <option> </option>
                    <option>ubuntu14</option>
                    <option>ubuntu12</option>
                </select>
            </label>
        </div>

        <div class="col-sm-3" >
            <label class="checkbox-inline" class="form-control">
                <input type="radio"  name="oss" value="fedora">
            </label>
            <label class="checkbox-inline" class="form-control">
                <select name="os" >
                    <option> </option>
                    <option>fedora</option>
                </select>
            </label>
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-3"> Parellel Library: </label>
        <div class="col-sm-3">
            <label class="checkbox-inline" class="form-control">
                <input type="radio"  name="libs" value="openmpi">
            </label>
            <label class="checkbox-inline" class="form-control">
                <select name="iib">
                    <option> </option>
                    <option>openmpi2</option>
                    <option>openmpi1</option>
                </select>
            </label>
        </div>
        <div class="col-sm-2" >
            <label class="checkbox-inline" class="form-control">
                <input type="radio"  name="libs" value="mpich">
            </label>
            <label class="checkbox-inline" class="form-control">
                <select name="lib">
                    <option> </option>
                    <option>mpich3</option>
                    <option>mpich2</option>
                </select>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="ssh" class="col-sm-2 control-label"> Other Application: </label>
        <div class="col-sm-offset-1 col-sm-4">
            <input type="password" class="form-control" id="ssh" name="ssh" placeholder="ssh">
        </div>
    </div>
    <div class="form-group">
        <label for="img_name" class="col-sm-2 control-label"> Name: </label>
        <div class="col-sm-offset-1 col-sm-4">
            <input type="password" class="form-control" id="img_name" name="img_name" placeholder="img name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <input type="button" class="form-control" value="Cancel">
        </div>
        <div class="col-sm-4">
            <input type="submit" class="form-control" value="Submit">
        </div>
    </div>

</form>
{% endblock %}