{% extends "general/index.html" %}
    {% block header %}

            <span class="glyphicon glyphicon-book"></span> Create Page

    {% endblock %}

{% block body %}

    <script>
      function redirect(){
        location.href='{{ url_for('general.list') }}';
      }
    </script>


<script>

  function validateForm() {


    var img_name = document.forms["create"] ["img_name"].value;
    if (!img_name || img_name.search(/[\s]/g)>-1) {
        alert("insert image name");
        return false;
    }

    var img_type = document.forms["create"] ["img_type"].value;

    if (!img_type || img_type.search(/[\s]/g)>-1) {
        alert("choose container platform");
        return false;
    }

    var os_value = "";
    {% for o in os %}
        var value = document.forms["create"] ["os"].value;
        if (!value) {
            alert("choose operation system");
            return false;
        }
        if (value == "{{ o[0].os_type }}"){
            os_value = document.forms["create"] ["os-{{ o[0].os_type }}"].value;
        }
    {% endfor %}

    var lib_value = "";
    {% for l in lib %}
        var value = document.forms["create"] ["lib"].value;
        if (!value) {
            alert("choose library");
            return false;
        }
        if (value == "{{ l[0].lib_type }}"){
            lib_value = document.forms["create"] ["lib-{{ l[0].lib_type }}"].value;
        }
    {% endfor %}

    var app_value = "";
    {% for a in app %}
        var value = document.forms["create"] ["application"].value;
        if (!value){
            app_value += document.forms["create"] ["app-{{ a[0].app_group }}"].value;
        }
    {% endfor %}



    var cf = confirm("container platform is: " + img_type + "\n"
                + "operation system is: " + os_value + "\n"
                + "library is: " + lib_value + "\n"
                + "image name is: " + img_name );
    if (cf) {
        return true;
    }
    else {
        return false;
    }
  }


</script>
<form method="post" class="form-horizontal" role="form" name="create" onsubmit="return validateForm()">

    <div class="form-group">
        <label for="img_name" class="col-sm-3 control-label"> Image Name: </label>
        <div class=" col-sm-4">
            <input type="text" class="form-control" id="img_name" name="img_name" placeholder="image name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"> Choose Container Platform: </label>
        {% for p in pf %}
        {% if pf.index(p)%3 == 0 and pf.index(p) != 0 %}

        <div class="col-sm-offset-3 col-sm-3">

            {% else %}

            <div class="col-sm-3">

            {% endif %}
                <label class="control-label inline">
                    <input type="radio"  name="img_type" value="{{ p.pf_name }}" > {{ p.pf_name }}
                </label>

        </div>
        {% endfor %}

    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"> Choose Operating System: </label>

        {% for oo in os %}
        {% if os.index(oo)%3 == 0 and os.index(oo) != 0 %}

        <div class="col-sm-offset-3 col-sm-3">

            {% else %}

            <div class="col-sm-3">

            {% endif %}
            <label class="inline control-label">
                <input type="radio"  name="os" value="{{ oo[0].os_type }}" onclick="clickRadio(name, value)">
            </label>
            <label class="inline control-label">
                {{ oo[0].os_type  }}
            </label>
            <label class="inline control-label">
                <select class="form-control" name="os-{{ oo[0].os_type  }}" disabled>
                    {% for o in oo %}
                    <option>{{ o.os_version }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        {% endfor %}
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"> Parellel Library: </label>
        {% for li in lib %}
        {% if lib.index(li)%3 == 0 and lib.index(li) != 0 %}

        <div class="col-sm-offset-3 col-sm-3">

            {% else %}

            <div class="col-sm-3">

            {% endif %}
            <label class="inline control-label">
                <input type="radio"  name="lib" value="{{ li[0].lib_type  }}" onclick="clickRadio(name, value)">
            </label>
            <label class="inline control-label">
                {{ li[0].lib_type  }}
            </label>
            <label class="inline control-label">
                <select class="form-control" name="lib-{{ li[0].lib_type  }}" disabled>
                    {% for l in li %}
                    <option>{{ l.lib_version }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        {% endfor %}

    </div>



    <div class="form-group">
        <label class="col-sm-3 control-label"> Other Application: </label>
        {% for ap in app %}
        {% if app.index(ap)%3 == 0 and app.index(ap) != 0 %}

        <div class="col-sm-offset-3 col-sm-3">

            {% else %}

            <div class="col-sm-3">

            {% endif %}
            <label class="inline control-label">
                <input type="checkbox"  name="application" value="{{ ap[0].app_group  }}" >
            </label>
            <label class="inline control-label">
                {{ ap[0].app_group  }}
            </label>
            <label class="inline control-label">
                <select class="form-control" name="app-{{ ap[0].app_group  }}" >
                    {% for a in ap %}
                    <option>{{ a.app_name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <input type="button" class="form-control" value="Cancel" onclick="redirect()">
        </div>
        <div class="col-sm-4">
            <input type="submit" class="form-control" value="Submit">
        </div>
    </div>

</form>
    {% if error %}<div class="col-sm-offset-4">{{ error }}</div>{% endif %}
<script>

  function clickRadio(name, value) {
    {% for oo in os %}
    if(name == 'os') {
        if (value == "{{oo[0].os_type}}") {
            document.forms["create"] ["os-{{oo[0].os_type}}"].disabled = false;
        } else {
            document.forms["create"] ["os-{{oo[0].os_type}}"].disabled = true;
        }
    }
    {% endfor %}

    {% for li in lib %}
    if(name == 'lib') {
        if (value == "{{li[0].lib_type}}") {
            document.forms["create"] ["lib-{{li[0].lib_type}}"].disabled = false;
        } else {
            document.forms["create"] ["lib-{{li[0].lib_type}}"].disabled = true;
        }
    }
    {% endfor %}

  }

</script>
{% endblock %}
