{% extends "layout.html" %}

    {% block header %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-picture col-sm-offset-5"></span> Wellcome!
        </h1>
    </div>
    {% endblock %}

    {% block menu %}

                <li><a href="{{ url_for('general.create')}}"><span class="glyphicon glyphicon-book"></span> Create </a></li>

                <li><a href="{{ url_for('general.delete')}}"><span class="glyphicon glyphicon-trash"></span> Delete </a></li>

                <li><a href="{{ url_for('general.upload')}}"><span class="glyphicon glyphicon-floppy-open"></span> Upload </a></li>

                <li><a href="{{ url_for('general.list')}}"><span class="glyphicon glyphicon-list"></span> List </a></li>

                <li><a href="{{ url_for('general.list')}}"><span class="glyphicon glyphicon-refresh"></span> Refresh </a></li>

                 <li><a href="{{ url_for('login.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>

    {% endblock %}

    {% block body %}
    <div class="container">
        <div class="row">
            {% block inbody %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}