{% extends "general/index.html" %}
    {% block header %}

            <span class="glyphicon glyphicon-floppy-open"></span> Upload Page

    {% endblock %}

{% block body %}

    <script>
      function redirect(){
        location.href='{{ url_for('general.list') }}';
      }
    </script>

<form method="post">
<table class="table table-bordered">
    <thead>
        <tr>
            <th> Select</th>
            <th> ID</th>
            <th> UUID</th>
            <th> User</th>
            <th> ImageName</th>
            <th> Platform</th>
            <th> OS</th>
            <th> Library</th>
            <th> Applications</th>
            <th> Description</th>
            <th> Public</th>
            <th> Status</th>
            <th> Size</th>
            <th> UpdateTime</th>
            <th> Liked</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <td><input type="checkbox"  name="ID" value="{{message.ID}}"></td>
            <td>{{ message.ID }}</td>
            <td>{{ message.UUID }}</td>
            <td>{{ message.UserID }}</td>
            <td>{{ message.ImageName }}</td>
            <td>{{ message.PlatformID }}</td>
            <td>{{ message.OSID }}</td>
            <td>{{ message.LibraryID }}</td>
            <td>{{ message.AppID }}</td>
            <td>{{ message.Description }}</td>
            <td>{{ message.Public }}</td>
            <td>{{ message.Status }}</td>
            <td>{{ message.Size }}</td>
            <td>{{ message.UpdateTime }}</td>
            <td>{{ message.Liked }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

        <div class="row clearfix">
            <div class="col-sm-offset-4 col-sm-2 column">
                <input type="button" value="Cancel" onclick="redirect()">
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Upload">
            </div>
        </div>


</form>
{% endblock %}