{% extends "admin/user/index.html" %}

    {% block header %}
        <li><a href="{{ url_for('user.create')}}"><span class="glyphicon glyphicon-wrench"></span> User Create</a></li>
    {% endblock %}

    {% block body %}

    <script>
      function redirect(){
        location.href='{{ url_for('user.list') }}';
      }
    </script>




    <form method="post" class="form-horizontal" role="form" name="create" onsubmit="return validateForm()">

        <div class="form-group">
            <label for="usr_name" class="col-sm-3 control-label"> UserName: </label>
            <div class=" col-sm-4">
                <input type="text" class="form-control" id="usr_name" name="Name" placeholder="User Name">
            </div>
        </div>

        <div class="form-group">
            <label for="usr_pwd" class="col-sm-3 control-label"> Password: </label>
            <div class=" col-sm-4">
                <input type="password" class="form-control" id="usr_pwd" name="Password" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label for="pwd" class="col-sm-3 control-label"> Confirm Password: </label>
            <div class=" col-sm-4">
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Confirm Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-2">
                <input type="button" class="form-control" value="Cancel" onclick="redirect()">
            </div>
            <div class="col-sm-2">
                <input type="submit" class="form-control" value="Create">
            </div>
        </div>

    </form>

    {% if error %}<div class="col-sm-offset-4">{{ error }}</div>{% endif %}
<script>

  function validateForm() {
    {% for i in item %}
    var x = document.forms["create"] ["{{ i }}"].value;
    if (!x || x.search(/[\s]/g)>-1) {
        alert("miss {{ i }}");
        return false;
    }
    {% endfor %}

    var y1 = document.forms["create"] ["Password"].value;
    var y2 = document.forms["create"] ["pwd"].value;
    if (!y2 || y2.search(/[\s]/g)>-1) {
        alert("enter password again ");
        return false;
    }
    if (y1 != y2 ){
        alert("password is different");
        return false;
    }

  }


</script>

{% endblock %}
