{% extends "admin/user/index.html" %}

    {% block header %}
        <li><a href="{{ url_for('user.list')}}"><span class="glyphicon glyphicon-list"></span> User List</a></li>
    {% endblock %}

    {% block body %}


    <table class="table">
        <thead>
            <tr>
                <th> ID</th>
                <th> User Name</th>
            </tr>
        </thead>

        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.ID }}</td>
                <td>{{ message.Name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}