{% extends "admin/user/index.html" %}

    {% block header %}
        <li><a href="{{ url_for('user.list')}}"><span class="glyphicon glyphicon-list"></span> User List</a></li>
    {% endblock %}

    {% block body %}


    <table class="table table-bordered">
        <thead>
            <tr>
                <th> User Name</th>
                <th> Priority</th>
            </tr>
        </thead>

        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.usr_name}}</td>
                <td>{{ message.usr_group }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}